@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission_8_Group_7.Models.TaskItem

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-success">
                <div class="card-header bg-success text-white">
                    <h3>Confirm Completion</h3>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to mark this task as complete?</p>
                    <hr />
                    <div class="row mb-2">
                        <div class="col-4 fw-bold">Task</div>
                        <div class="col-8">@Model.Task</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 fw-bold">Due Date</div>
                        <div class="col-8">@Model.DueDate?.ToShortDateString()</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 fw-bold">Category</div>
                        <div class="col-8">@(Model.Category?.CategoryName ?? "None")</div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-auto">
                            <form asp-action="MarkComplete" method="post">
                                <input type="hidden" name="id" value="@Model.TaskItemId" />
                                <button type="submit" class="btn btn-success">Yes, Mark Complete</button>
                            </form>
                        </div>
                        <div class="col-auto">
                            <a asp-action="Quadrants" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>